*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/*Para todas las pags*/


body{
    font-family:'Poppins', sans-serif;
    color:#e6e6e6;
    background-color:#303841;
}

.navbar{
    top:0;
    background-color:#be3144;
    display:flex;
    justify-content:flex-end;
    margin-bottom:10px;
    font-size:1.3rem;
}

.nav-list{
    list-style:none;
    padding:15px;
    height:100%;
}

li{
    display:inline-block;
    margin-top:10px;
}

.nav-list a{
    color:white;
    text-decoration:none;
    padding:0.7rem;
}

.nav-list a:hover{
    background-color:#45567d;
    transition: all 1s;
}

.frameborder{
    border-radius:10%;
    border:8px solid #be3144;
}

.seccionA{
    margin:150px;
    padding:160px 20px 20px;
    display:flex;
    flex-direction:column;
    font-family:'Roboto';
    font-size:2.5rem;
    text-align:center;
    font-weight: 600;
}

.seccionA p{
    font-weight:200;
    font-style:italic;
    color:#be3144;
    font-size:1.4rem;
}

.seccionB{
    margin:80px;
    display:flex;
    flex-direction:column;
    font-family:'Poppins';
    font-size:2.5rem;
    text-align:left;
}

.seccionB h1{
    font-size:2.6rem;
    margin-top:100px;
    margin-bottom:100px;
    text-align:center;
}

.seccionC{
    display:flex;
}

form{
    margin:auto;
    text-align:center;
    align-items:center;
}

.seccionD{
    margin:80px;
    display:grid;
    font-family:'Poppins';
    font-size:2.5rem;
    text-align:center;
    grid-template-columns: min-content 1fr;
}

.seccionD h1{
    font-size:2.6rem;
    margin-top:100px;
    margin-bottom:100px;
    text-align:center;
}

.seccionD p{
    font-size:1.5rem;
    padding:25px;
}

.contenedordefotos{
    margin:50px;
    align-self:center;
}

footer{
    margin-top:6rem;
    margin:2rem;
    display:block;
    font-size:1rem;
    margin:0 auto;
}

/*Home*/


.video {
    margin:100px;
    align-self:center;
}

.unpocogrande{
    padding:20px 20px 20px 20px;
    line-height:1;
    text-align:center;
    font-size:1.4rem;
}

.foto1{
    width:400px;
    height:400px;
    align-self:center;
    border-radius:10%;
    border:8px solid #be3144;
}

.foto1:hover{
    border-color:#45567d;
    transition: 0.5s;
}


/*Certification*/


.foto2{
    width:400px;
    height:600px;
    align-self:center;
    border-radius:10%;
    border:8px solid #be3144;
}


/*Work*/


.worklink{
    align-items:flex-end;
}

.foto3{
    width:300px;
    height:400px;
    align-self:right;
    border-radius:5%;
    border:8px solid #be3144;
}

.foto3:hover{
    border-color:#45567d;
    transition: all 1.5seg;
}


/*Contact*/


.cajadeboton{
    margin-top:100px;
    margin-bottom:20px;
}

.boton{
    width:150px;
    height:100px;
}


/*Translation*/


fieldset{
    margin: 300px 800px;
    padding: 5.6px 12px 10px 12px;
    border: 2px groove;
}

legend{
    font-size:30px;
}



/*Querries*/

@media screen and (max-width:480px){
    
    .navbar{
        flex-direction:column;
        position:relative;
    }

    li{
        display:block;
        align-self:center;
        border-top:1px solid #e6e6e6;
    }
    
    .nav-list{
        text-align: center;
        width:100%;
        padding-top:20px;
    }
    
    .seccionA{
        padding-top:10px;
        border-bottom:10px;
        margin:100px;
    }
    .seccionA h1{
        margin-bottom:30px;
        font-size:3rem;
        text-align: center;
    }

    .seccionA h2{
        font-size:1.8rem;
        margin-bottom:30px;
        text-align: center;
    }

    .seccionA .p-mail{
        font-size:1rem;
        text-align: center;
    }

    .seccionA .h1mediano{
        font-size:2.7rem;
        text-align: center;
    }

    .seccionA .certp{
        margin-top:50px;
        text-align: center;
    }

    .seccionB{
        margin-bottom:30px;
        font-size:2.5rem;
        text-align: center;
    }

    .seccionB p{
        font-size:1.7rem;
        text-align: center;
    }
    
    .seccionC{
        display:flex;
        align-items: center;
    }

    .form{
        margin:auto;
    }

    .seccionD{
        display:flex;
        flex-direction:column;
    }

    .seccionD p{
        text-align:center;
        font-size:1rem;
        padding-top:30px;
        border-bottom:1px solid #e6e6e6;
    }
}